<div class="row user-from" id="login-form">
    <form class="col s12 offset-s3" ng-submit="login()">

        <div class="row">
            <div class="input-field col s6">
                <input id="email" type="text" class="validate" ng-model="user.username">
                <label for="email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="password" type="password" class="validate" ng-model="user.password">
                <label for="password">Password</label>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-ligh offset-s10" type="submit" name="action">Se connecter
                <i class="mdi-content-send right"></i>
            </button>
        </div>
    </form>
</div>