<div class="card-panel" style="text-align: center">
    <span class="stepnumber">Step : {{step}}/4</span>
    Ajouter une entreprise
</div>
<form class="form-vertical " name="myForm"  novalidate>
    <fieldset ng-show="step == 1">
        <legend>L'entreprise</legend>
        <div class="form-group">
            <div ng-include="'app/views/forms/entrepriseForm1.html'"></div>
        </div>
        <button class="btn btn-primary" ng-click="nextStep()">Next step</button>
    </fieldset>
    <fieldset ng-show="step == 2">
        <legend>Contact</legend>
        <div class="form-group">
            <div ng-include="'app/views/forms/entrepriseForm2.html'"></div>
        </div>
        <button class="btn btn-default" ng-click="prevStep()">Previous step</button>
        <button class="btn btn-primary" ng-click="nextStep()">Next step</button>
    </fieldset>

    <fieldset ng-show="step == 3">
        <legend>Etat juridique</legend>
        <div class="form-group">
            <div ng-include="'app/views/forms/entrepriseForm3.html'"></div>
        </div>
        <button class="btn btn-default" ng-click="prevStep()">Previous step</button>
        <button class="btn btn-primary" ng-click="nextStep()">Next step</button>
    </fieldset>

    <fieldset ng-show="step == 4">
        <legend>Carte géographique</legend>
        <div class="form-group">
            <div ng-include="'app/views/forms/entrepriseForm4.html'"></div>
        </div>
        <button class="btn btn-default" ng-click="prevStep()">Previous step</button>
        <button class="btn btn-primary" ng-click="createNewEntreprise()">Ajouter</button>
    </fieldset>
</form>

