<div class="container">
    <div class="row">
        <div class="input-field col s6">
            <input id="latitude" type="text" class="validate" ng-model="entreprise.latitude">
            <label for="latitude">Latitude</label>
        </div>
        <div class="input-field col s6">
            <input id="longitude" type="text" class="validate" ng-model="entreprise.longitude">
            <label for="longitude">Longitude</label>
        </div>
    </div>

    <div class="row" id="maps" style="width: 600px; height: 400px;">

    </div>

</div>

<script>$('#maps').locationpicker({
    location: {latitude: 46.15242437752303, longitude: 2.7470703125},
    radius: 300,
    inputBinding: {
        latitudeInput: $('#latitude'),
        longitudeInput: $('#longitude')
    }
});
</script>