<div class="container">
    <div class="row">
        <div class="input-field col s6">
            <input id="latitude" type="text" class="validate" ng-model="entreprise.latitude">
            <label for="latitude" ng-class="{'active' : entreprise.latitude}">Latitude</label>
        </div>
        <div class="input-field col s6">
            <input id="longitude" type="text" class="validate" ng-model="entreprise.longitude">
            <label for="longitude" ng-class="{'active' : entreprise.longitude}">Longitude</label>
        </div>
    </div>

    <div ng-init="initMap();" class="row" id="maps">

    </div>

</div>

<script>
</script>