<div class="container">
    <div class="row">
        <div class="input-field col s4">
            <input id="regime" type="text" class="validate">
            <label for="regime">Régime</label>
        </div>
        <div class="input-field col s4">
            <input id="pays" type="text" class="validate">
            <label for="pays">Pays du Participant Etranger </label>
        </div>
        <div class="input-field col s4">
            <input id="annee" type="date" class="validate datepicker">
            <label for="annee">Entrée en production</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input id="capital" type="text" class="validate">
            <label for="capital">Capital en DT</label>
        </div>
        <div class="input-field col s6">
            <input id="emploi" type="text" class="validate">
            <label for="emploi">Emploi</label>
        </div>
    </div>

</div>