<div class="container">
    <div class="row">
        <div class="input-field col s4">
            <input id="denomination" type="text" class="validate" ng-model="entreprise.denomination">
            <label for="denomination">Dénomination</label>
        </div>
        <div class="input-field col s4">
            <input id="raisonsociale" type="text" class="validate">
            <label for="raisonsociale">Raison Sociale</label>
        </div>
        <div class="input-field col s4">
            <input id="responsable" type="text" class="validate">
            <label for="responsable">Responsable</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <textarea id="activite" class="materialize-textarea"></textarea>
            <label for="activite">Activités</label>
        </div>
        <div class="input-field col s6">
            <textarea id="produit" class="materialize-textarea"></textarea>
            <label for="produit">Produits</label>
        </div>
    </div>
</div>