<!-- Modal Structure -->
<div id="alertmodal" class="modal">
    <div class="modal-content">
        <h4>Alert de suppression d'une entreprise</h4>
        <p>Vous etes sur le point de supprimer une entreprise</p>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat"
           ng-click="confirmDelete(deletedentreprise)">Ok</a>
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
    </div>
</div>